@import "tailwindcss";


/* Lemon Milk Font Family Definitions */
@font-face {
  font-family: 'Lemon Milk';
  src: url('Public/Fonts/LEMONMILK-Regular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Lemon Milk';
  src: url('Public/Fonts/LEMONMILK-RegularItalic.otf') format('opentype');
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Lemon Milk';
  src: url('Public/Fonts/LEMONMILK-Medium.otf') format('opentype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Lemon Milk';
  src: url('Public/Fonts/LEMONMILK-Light.otf') format('opentype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Lemon Milk';
  src: url('Public/Fonts/LEMONMILK-LightItalic.otf') format('opentype');
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Lemon Milk';
  src: url('Public/Fonts/LEMONMILK-Bold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

/* Satoshi Font Family Definitions (Static Weights) */
@font-face {
  font-family: 'Satoshi';
  src: url('Public/Fonts/Satoshi-Regular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Satoshi';
  src: url('Public/Fonts/Satoshi-Medium.otf') format('opentype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Satoshi';
  src: url('Public/Fonts/Satoshi-Light.otf') format('opentype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Satoshi';
  src: url('Public/Fonts/Satoshi-Bold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Satoshi';
  src: url('Public/Fonts/Satoshi-Black.otf') format('opentype');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

/* Satoshi Variable Font Definitions */
@font-face {
  font-family: 'Satoshi Variable';
  src: url('Public/Fonts/Satoshi-Variable.ttf') format('truetype');
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Satoshi Variable';
  src: url('Public/Fonts/Satoshi-VariableItalic.ttf') format('truetype');
  font-weight: 100 900;
  font-style: italic;
  font-display: swap;
}

/* Apply Fonts to Elements */
h1, h2, h3, h4, h5, h6 {
  font-family: 'Lemon Milk', sans-serif;
  font-weight: 700; /* Default to bold for headings */
}

p {
  font-family: 'Satoshi', sans-serif;
  font-weight: 400; /* Default to regular for paragraphs */
}
li{
    font-family: 'Satoshi', sans-serif;
    font-weight: 400;
}
